workflow.json
{
  "name": "Local AI Email Auto-Responder",
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "id": "1",
      "name": "Email Read (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.from.address }}",
              "operation": "notEqual",
              "value2": "={{ $env.SMTP_USER }}"
            },
            {
              "value1": "={{ $json.subject }}",
              "operation": "notContains",
              "value2": "Re:"
            }
          ]
        }
      },
      "id": "2",
      "name": "IF: Prevent Loop",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"llama3:8b\",\n  \"stream\": false,\n  \"prompt\": \"You are a professional and helpful email assistant. A new email has arrived.\\n\\nSender: {{ $json.from.address }}\\nSubject: {{ $json.subject }}\\nBody:\\n{{ $json.text }}\\n\\nYour reply should be helpful and directly address the content of the email. Do not include a greeting or signature; provide only the body of the reply.\"\n}",
        "options": {}
      },
      "id": "3",
      "name": "Ask Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_USER }}",
        "toEmail": "={{ $('Email Read (IMAP)').item.json.from.address }}",
        "subject": "=Re: {{ $('Email Read (IMAP)').item.json.subject }}",
        "text": "={{ $node[\"Ask Ollama\"].json.response }}",
        "options": {
          "messageId": "={{ $('Email Read (IMAP)').item.json.messageId }}"
        }
      },
      "id": "4",
      "name": "Send Reply (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        940,
        280
      ]
    }
  ],
  "connections": {
    "Email Read (IMAP)": {
      "main": [
        [
          {
            "node": "IF: Prevent Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Prevent Loop": {
      "main": [
        [
          {
            "node": "Ask Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Ollama": {
      "main": [
        [
          {
            "node": "Send Reply (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
